AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  BeforeWhile: true
BreakBeforeBraces: Custom
ColumnLimit: 140
Cpp11BracedListStyle: false
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 2
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Right
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 2
UseTab: false
AlignOperands: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
BreakBeforeTernaryOperators: true
ContinuationIndentWidth: 2
BreakStringLiterals: false
AllowAllArgumentsOnNextLine: true
AlwaysBreakBeforeMultilineStrings: true
