jobs:
- job: ${{ parameters.name }}
  pool: 
    vmImage: ${{ parameters.vmImage }}
  ${{ if eq(parameters.name, 'Linux') }}:
    container: jotadrilo/watchman:latest
  strategy:
    matrix:
      node_8_x:
        node_version: 8.x
        publish_artifacts: false
      node_10_x:
        node_version: 10.x
        publish_artifacts: true
    maxParallel: 3
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)
    displayName: 'Install Node.js'

  # Install Watchman
  - ${{ if eq(parameters.name, 'macOS') }}:
    - script: |
        brew update
        brew install watchman
      displayName: Install Watchman

  - ${{ if eq(parameters.name, 'Windows') }}:
    - script: |
        curl -sSf -L -o watchman.zip https://github.com/facebook/watchman/suites/296618337/artifacts/249606
      displayName: Download Watchman
    - task: ExtractFiles@1
      inputs:
        archiveFilePatterns: 'watchman.zip'
        destinationFolder: $(Agent.HomeDirectory)
        cleanDestinationFolder: false
      displayName: Extract Watchman
    - script: |
        set PATH=%PATH%;$(Agent.HomeDirectory)\watchman\windows\bin
        echo "##vso[task.setvariable variable=PATH]%PATH%"
        watchman -v
      displayName: Install Watchman

  - script: npm install --build-from-source
    displayName: Install dependencies
  - script: npm test
    displayName: Run tests
  - script: npm run prebuild
    displayName: Test prebuild

  - ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/v') }}:
    - task: PublishBuildArtifacts@1
      displayName: Publish Artifacts
      condition: and(succeeded(), eq(variables['publish_artifacts'], 'true'))
      inputs:
        artifactName: prebuilds
        pathtoPublish: '$(System.DefaultWorkingDirectory)/prebuilds'
