trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - '*'

jobs:
  - template: azure-pipelines-template.yml
    parameters:
      name: macOS
      vmImage: macOS-10.15

  - template: azure-pipelines-template.yml
    parameters:
      name: Alpine
      vmImage: ubuntu-16.04
      container: jasperdm/alpine-watchman:latest
  
  - template: azure-pipelines-template.yml
    parameters:
      name: CentOS7
      vmImage: ubuntu-16.04
      container: jasperdm/centos-watchman:latest

  - template: azure-pipelines-template.yml
    parameters:
      name: Windows
      vmImage: vs2017-win2016

  - ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/v') }}:
    - job: Publish
      condition: succeeded()
      dependsOn:
        - macOS
        - Alpine
        - CentOS7
        - Windows
      pool: 
        vmImage: ubuntu-16.04
      steps:
        - task: DownloadBuildArtifacts@0
          displayName: Download Artifacts
          inputs:
            artifactName: prebuilds
            downloadPath: "$(System.DefaultWorkingDirectory)"
        - task: GitHubRelease@0
          displayName: Github Release
          inputs:
            gitHubConnection: parcel
            repositoryName: parcel-bundler/watcher
            assets: $(System.DefaultWorkingDirectory)/prebuilds/@parcel/*
        - task: Npm@1
          displayName: NPM Release
          inputs:
            command: 'publish'
            publishEndpoint: npm
